{% include "header.tmpl" %}

{% for entity in struct %}
{{entity | formatDocString}}
type {{entity.name | golangEntityName}} struct {
{% for member in entity.members %}{{member | golangEntityName}} {{member.type | golangEntityName}} `json:"{{member.name}},omitempty"`
{% endfor %}
}

{% endfor %}
